<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxt.boot.dao.OrderCancelLogMapper">
  <resultMap id="BaseResultMap" type="com.xxt.boot.entity.OrderCancelLog">
    <constructor>
      <arg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="work_order_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="order_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="origin_status" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ops_status" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ops_remark" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="work_operator" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="created_by" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="created_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updated_by" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="updated_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, work_order_id, order_id, origin_status, ops_status, ops_remark, work_operator, 
    created_by, created_time, updated_by, updated_time
  </sql>
  <select id="selectByExample" parameterType="com.xxt.boot.entity.OrderCancelLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_cancel_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.xxt.boot.entity.OrderCancelLogExample">
    delete from order_cancel_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xxt.boot.entity.OrderCancelLog">
    insert into order_cancel_log (id, work_order_id, order_id, 
      origin_status, ops_status, ops_remark, 
      work_operator, created_by, created_time, 
      updated_by, updated_time)
    values (#{id,jdbcType=BIGINT}, #{workOrderId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{originStatus,jdbcType=VARCHAR}, #{opsStatus,jdbcType=VARCHAR}, #{opsRemark,jdbcType=VARCHAR}, 
      #{workOperator,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xxt.boot.entity.OrderCancelLog">
    insert into order_cancel_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="workOrderId != null">
        work_order_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="originStatus != null">
        origin_status,
      </if>
      <if test="opsStatus != null">
        ops_status,
      </if>
      <if test="opsRemark != null">
        ops_remark,
      </if>
      <if test="workOperator != null">
        work_operator,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="workOrderId != null">
        #{workOrderId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="originStatus != null">
        #{originStatus,jdbcType=VARCHAR},
      </if>
      <if test="opsStatus != null">
        #{opsStatus,jdbcType=VARCHAR},
      </if>
      <if test="opsRemark != null">
        #{opsRemark,jdbcType=VARCHAR},
      </if>
      <if test="workOperator != null">
        #{workOperator,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xxt.boot.entity.OrderCancelLogExample" resultType="java.lang.Long">
    select count(*) from order_cancel_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order_cancel_log
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.workOrderId != null">
        work_order_id = #{record.workOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.originStatus != null">
        origin_status = #{record.originStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.opsStatus != null">
        ops_status = #{record.opsStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.opsRemark != null">
        ops_remark = #{record.opsRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.workOperator != null">
        work_operator = #{record.workOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedBy != null">
        updated_by = #{record.updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedTime != null">
        updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order_cancel_log
    set id = #{record.id,jdbcType=BIGINT},
      work_order_id = #{record.workOrderId,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      origin_status = #{record.originStatus,jdbcType=VARCHAR},
      ops_status = #{record.opsStatus,jdbcType=VARCHAR},
      ops_remark = #{record.opsRemark,jdbcType=VARCHAR},
      work_operator = #{record.workOperator,jdbcType=VARCHAR},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      updated_by = #{record.updatedBy,jdbcType=VARCHAR},
      updated_time = #{record.updatedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>